src/main/src/org/openspaces/admin/config/openspaces-admin.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<xsd:schema xmlns="http://www.openspaces.org/schema/core"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            xmlns:tool="http://www.springframework.org/schema/tool"
            targetNamespace="http://www.openspaces.org/schema/admin"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.springframework.org/schema/beans"/>
    <xsd:import namespace="http://www.springframework.org/schema/tool"/>
    
    <xsd:element name="dependency">
    	<xsd:complexType>
          <xsd:attribute name="required-processing-unit-name" type="xsd:string" use="required"/>
          <xsd:attribute name="wait-for-deployment-to-complete" type="xsd:boolean" use="required"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>